/* 
 * =============================================================================
 * Author: Mark Angelo Angulo
 * =============================================================================
 */

@media only screen and (max-width: 767px) {
    
/* 
 * -----------------------------------------------------------------------------
 *  GRID
 * -----------------------------------------------------------------------------
 */

    h1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

/*    #grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 80px auto 400px;
        grid-template-areas:
            "navigation"
            "main"
            "footer";
    }*/
    
/*
 * -----------------------------------------------------------------------------
 *  POSITION
 * -----------------------------------------------------------------------------
 */

    main {
        position: relative;
    }

/* 
 * -----------------------------------------------------------------------------
 *  STYLE
 * -----------------------------------------------------------------------------
 */
    
    
    
}